docx==0.2.4
Flask==2.3.1
flatbuffers==23.5.26
fonttools==4.39.0
fsspec==2023.12.2
gast==0.4.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-generativeai==0.3.1
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
gunicorn==21.2.0

Pillow==9.4.0

